/* Estilos aplicados para testar a responsividade: */


body {
    background-color: brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

/* .my-row1 {
    height: 10vh;
}

.my-row2 {
    height: 40vh;
}

.my-row3 {
    height: 50vh;
} */

@media screen and (min-width: 576px) {
body {
    background-color: lightgreen;
     }
     .my-row1 {
        height: 15vh;
    }
    
    .my-row2 {
        height: 70vh;
    }
    
    .my-row3 {
        height: 15vh;
    }
    }        
    
@media screen and (min-width: 768px) {
body {
    background-color: rgb(235, 144, 238);
     }
     .my-row1 {
        height: 15vh;
    }
    
    .my-row2 {
        height: 70vh;
    }
    
    .my-row3 {
        height: 15vh;
    }
    } 

@media screen and (min-width: 992px) {
body {
    background-color: rgb(133, 30, 47);
     }
     .my-row1 {
        height: 15vh;
    }
    
    .my-row2 {
        height: 70vh;
    }
    
    .my-row3 {
        height: 15vh;
    }
    } 

@media screen and (min-width: 1200px) {
body {
    background-color: rgb(28, 90, 182);
     }
     .my-row1 {
        height: 15vh;
    }
    
    .my-row2 {
        height: 70vh;
    }
    
    .my-row3 {
        height: 15vh;
    }
    }


/* Formatação das divs onde aparecem os resultados do registro clicado: */

  #corpo {
    color: white;
    padding: 1em;
    font-weight: bold;

}
  
  #corpo div:nth-child(1) {
    color: black;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-left: 1em;
    font-weight: 1000;
    font-size: 1.5em;
  }
  #corpo div:nth-child(2) {
    color: black;
    background-color: yellow;
    margin: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-left: 1em;
    font-weight: 1000;
    font-size: 1.5em;
  }
  #corpo div:nth-child(3) {
    color: black;
    background-color: rgb(139, 175, 216);
    padding: 1em;
  }
  #corpo div:nth-child(4) {
    color: black;
    background-color: rgb(202, 99, 202);
    padding: 1em;
  }
  #corpo div:nth-child(5) {
    color: black;
    background-color: rgb(187, 159, 68);
    padding: 1em;
  }

/* Estilo dos registros selecionados, após o clique */

table.dataTable.table-hover>tbody>tr.selected:hover>* {
    box-shadow: none;
}

table.dataTable>tbody>tr.selected>* {
    box-shadow: none;
    color: rgb(19, 9, 160);
    font-weight: bold;
}

/* Estilo do foco nos registros */

table.dataTable tbody th.focus,table.dataTable tbody td.focus{
    background-color: #40b981;
      color: white;
      outline: 2px solid #276849;
      border-radius: 5px;
    }

/* Setas de ordenação */

#example_wrapper > div.dataTables_scroll > div.dataTables_scrollHead > div > table > thead > tr > th{    
    width: 569.328px;
    border: 1px solid;
    height: 25px;
  background-color: lightblue;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before{
    bottom: 60%;
    content: "▴";
    font-size: large;
}

table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after{
    top: 50%;
    content: "▾";
    font-size: large;
}